.App {
    text-align: center;
    background: linear-gradient(67deg, rgba(86,94,110,1) 0%, rgba(64,67,80,1) 15%, rgba(47,64,98,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.inputField {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.inputField:focus {
    outline: none;
}

.text {
    height: 50px;
}

.button {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}

.submitButton {
    background-color: #0078ae;
}

.cancelButton {
    background-color: #AE3600;
}

.submitButton:hover {
    background-color: #60ABCC;
}

.cancelButton:hover {
    background-color: #CC8160;
}


